argparse >= 1.3.0
h5py >= 2.0
ipdb
matplotlib
numpy >= 1.9.2
git+git://github.com/nipy/nipy.git
nose >= 1.3.7
pillow
progressbar >= 2.3
scipy >= 0.14.0
six >= 1.10.0
git+git://github.com/Theano/Theano.git
pyyaml
